<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1><center><i>Welcome to My Machine Learning WebPage</i></center></h1>
    <from action="/" methord="post">

     <label>Enter your age in years:</label>
     <input type="number" name="age" required="required">
     <br>  

     <label>Enter your Height in cms:</label>
     <input type="number" name="Height" required="required">
     <br> 

     <label>Enter your Weight in years:</label>
     <input type="number" name="Weight" required="required">
     <br>
     
     <label>Enter your Hi-BP:</label>
     <input type="number" name="ap_hi" required="required">
     <br>      

     <label>Enter your Lo-BP:</label>
     <input type="number" name="ap_lp" required="required">
     <br>
     
     <label>Enter your BMI:</label>
     <input type="number" name="bmi" required="required">
     <br>
     <label>gender</label>
     <select name="gender">
        <option values="1">Female</option>
        <option values="2">Male</option>
     </select> 
     <br>

     <label>Cholestrol</label>
     <select name="Cholestrol">
        
        <option values="1">Normal</option>
        <option values="2">Above Normal</option>
        <option values="3">Well Above Normal</option>
     </select>
</body>
</html>