<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <h1>
    <center><i>Welcome to My Machine Learning WebPage</i></center>
  </h1>
  <form action="/predict" method="post">

    <label>Enter your age in years:</label>
    <input type="number" name="age" required="required">
    <br>

    <label>Enter your Height</label>
    <input type="number" name="height" required="required">
    <br>

    <label>Enter your Weight in kgs:</label>
    <input type="number" name="weight" required="required">
    <br>

    <label>Enter your Hi-BP</label>
    <input type="number" name="ap_hi" required="required">
    <br>

    <label>Enter your Lo-BP</label>
    <input type="number" name="ap_lo" required="required">
    <br>

    <label>Enter your BMI:</label>
    <input type="number" name="bmi" required="required">
    <br>
    <label>gender</label>
    <select name="gender">
      <option value="1">Female</option>
      <option value="2">Male</option>
    </select>
    <br>

    <label>Cholesterol</label>
    <select name="Cholesterol">
      <option value="1">Normal</option>
      <option value="2">Above Normal</option>
      <option value="3">Well Above Normal</option>
    </select>

    <br>

    </select>
    <label>Glucose</label>
    <select name="Glucose">
      <option value="1">Normal</option>
      <option value="2">Above Normal</option>
      <option value="3">Well above Normal</option>
    </select>

    <br>

    </select>
    <label>Smoke</label>
    <select name="Smoke">
      <option value="1">Smoker</option>
      <option value="2">Non_smoker</option>
    </select>

    <br>

    </select>
    <label>Alcohol</label>
    <select name="Alcohol">
      <option value="1">yes</option>
      <option value="2">No</option>
    </select>

    <br>

    </select>
    <label>Active</label>
    <select name="Actve">
      <option value="1">Physical_Active</option>
      <option value="2">No_Physical_Active</option>
    </select>
    <br>

    </select>
    <label>BP category</label>
    <select name="bp_category">
      <option value="Normal">Normal</option>
      <option value="Elevated">Elevated</option>
      <option value="Hypertension Stage 1">Hypertension Stage 1</option>
      <option value="Hypertension Stage 2">Hypertension Stage 2</option>
      <option value="Hypertension Crisis">Hypertension Crisis</option>
    </select>
    <br>
    <button type="submit">Submit</button>
  </form>

  </label>
  <br>
  <h1>RESULT</h1>
  {{data}}


</body>

</html>